


.casts {
    width: 100%;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    // gap: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .casts-item{
        width: 200px;
        height: 250px;
        margin-bottom: 30px;
        padding: 5px;
    }
    .casts-item-img{
        width: 100%;
        // height: 250px;
        height: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: 0.5rem;
    }
}
