* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
html{
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181616;
  color: #ffffff;
  padding-top: 60px;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

.app {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  color: white;
  padding-bottom: 70px;
}
.container {
  max-width: 1920px;
  padding: 0 20px;
  margin: auto;
}

.title-page{
  text-transform: uppercase;
  text-align: center;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media only screen and (max-width:850px) {
  .html{
    font-size: 12px;
  }

}

@media (max-width:700px) {
  // .app {
  //   padding-top: 80px;
  // }
  .title-page{
    font-size: 5vw;
  }
  .container{
    padding: 0;
  }
}